html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: #FFCAD4;
    margin: 0%;

}

.menu {
    background-color: #F4ACB7;
    font-size: medium;
    font-style: oblique;
    padding: 5px;
    width: 150px;
    height: 110px;
    margin-top: 3%;
    margin-bottom: 2%;
    list-style: none;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 2%;
    border-style: solid;
    border-color: #000;
}

.kwetso {
    text-align: center;
}

header {
    background-color: #ffe5d9;
    margin-left: 5%;
    margin-right: 5%;
    border-style: solid;
    border-color: #000;
}

footer {
    background-color: #ffe5d9;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-style: solid;
    border-color: #000;
    padding-left: 2%;
    padding-bottom: 2%;
}

img {
    border-radius: 50%;
    margin-top: 2%;
    border-start-end-radius: 50;
    border: 5px solid #000
}

article {
    margin-left: 5%;
    margin-right: 5%;
    border-style: solid;
    border-color: #000;
    padding-left: 2%;
}